In [3]:
%%capture
!pip install numpy matplotlib pandas

In [3]:
import pandas as pd
import numpy as np

In [9]:
#list1 = [1,2,3,3,3,4]
#dataDictionary = 
s = pd.Series([10,20,30,40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
data  = {
    'Name':['Alice','Bob','Charlie'],
    'Age': [24,27,22],
    'city':['New york','Los','chicago']
}
df=pd.DataFrame(data)
print(df)
df.to_excel("tstet2.xlsx")

      Name  Age      city
0    Alice   24  New york
1      Bob   27       Los
2  Charlie   22   chicago

In [9]:
# Select a single column
print(df['Name'])

# Select multiple columns
print(df[['Name', 'Age']])

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22

In [11]:
print(df[df['Age'] > 23])

    Name  Age      city
0  Alice   24  New york
1    Bob   27       Los

In [13]:
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Salary': [50000, 52000, 60000, 62000, 58000]
}
df = pd.DataFrame(data)

# Group by Department and calculate the mean salary
grouped = df.groupby('Department')['Salary'].mean()
print(grouped)

Department
Finance    58000.0
HR         51000.0
IT         61000.0
Name: Salary, dtype: float64

In [15]:
data = {
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago'],
    'Year': [2019, 2019, 2020, 2020],
    'Population': [8.4, 3.9, 8.3, 2.7]
}
df = pd.DataFrame(data)

# Create a pivot table with 'Year' as columns
pivot = df.pivot_table(values='Population', index='City', columns='Year')
print(pivot)

Year         2019  2020
City
Chicago       NaN   2.7
Los Angeles   3.9   NaN
New York      8.4   8.3

In [17]:
# Melt the DataFrame
melted = pd.melt(df, id_vars=['City'], value_vars=['Year', 'Population'])
print(melted)

          City    variable   value
0     New York        Year  2019.0
1  Los Angeles        Year  2019.0
2     New York        Year  2020.0
3      Chicago        Year  2020.0
4     New York  Population     8.4
5  Los Angeles  Population     3.9
6     New York  Population     8.3
7      Chicago  Population     2.7